<!-- Start Sidebar -->
<div class="col-md-3 sidebar">
<!--   <div class="widget sidebar-widget search-form-widget">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search Posts...">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
      </span> </div>
  </div> -->
  <div class="widget sidebar-widget">
  	<%= render "/refinery/blog/shared/categories" %>
  </div>
  <div class="widget sidebar-widget">
  	<%= render "/refinery/blog/shared/posts" %>
  </div>
</div>