<% if @categories.any? %>
  <div class="sidebar-widget-title">
    <h3><%= t('.title') %></h3>
  </div>
  <ul id='categories'>
    <% @categories.each do |category| %>
      <li<%= " class='selected'" if @category.present? and @category.id == category.id %>>
        <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>